.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    border-bottom: 1px solid;
    border-color: ghostwhite;
    text-align: center;
}
.header__logo {
    color: #6b5a4a;
    text-decoration: none;
    font-family: "Epunda Slab", serif;
}